<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="   
	http://www.springframework.org/schema/beans   
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
	http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context-4.0.xsd  
	http://www.springframework.org/schema/mvc   
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	
	<context:component-scan base-package="com.bjxc.school.controller,com.bjxc.school.security,com.bjxc.school.socket,com.bjxc.tcp.controller" />

	 <mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter"><constructor-arg value="utf-8" /></bean>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" >
				 <property name="objectMapper" value="#{jsonUtil.mapper}"/>  
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven> 
	<bean id="jsonUtil" class="com.bjxc.json.JacksonBinder"  factory-method="buildNormalBinder"/>

	<!-- begin 此处设置用来直接访问静态资源文件 -->
	<mvc:default-servlet-handler/>
	
	<!-- <mvc:resources mapping="/resources/**" location="/resources/" />
	视图解析器 -->
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
     	<property name="prefix" value="/WEB-INF/page/" />
    	<property name="suffix" value=".jsp"></property>
     	<property name="order" value="0" />
    </bean>  
    
	<!-- 拦截器配置 -->
    <mvc:interceptors>
        <!-- 多个拦截器,顺序执行 -->
        <mvc:interceptor>
            <!-- 需要拦截的url -->
            <mvc:mapping path="/**" />
            <!-- 拦截器实现类 -->
            <bean class="com.bjxc.web.BjxcWebInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
    
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<bean class="com.bjxc.school.service.UserLogAspect" />
</beans>