<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjxc.school.mapper.ReFundMapper">
	<insert id="add" parameterType="com.bjxc.school.ReFund">
	insert into trefund(createtime,money,reviewUser,studentID,status,stuNote)
	values(#{createTime},#{money},#{reviewUserId},#{studentID},#{status},#{stuNote});
	</insert>
</mapper>